#Discord
--------------------
discord_webhook = ""
discord_user = ""
--------------------
#Email Settings
--------------------
email_to = ""
email_username = ""
email_pass = ""
smtp_server = ""
smtp_ssl_port = ""
--------------------
interval = "300"
--------------------